header{
    background-color:#B3E0F2;
    color: black;
    padding:1em;
    display:flex;
    flex-direction: row; 
    align-items:center; /* alinhar verticalmente */
    justify-content:center; /*alinhar horizontalmente */
}